.dart_tool/
.packages
.buildlog/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata
coverage/

pubspec.lock
!/example/pubspec.lock

build/
example/build/

ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
example/ios/Pods/
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/ephemeral/
example/ios/.symlinks/
**/Runner/GeneratedPluginRegistrant.*

**/xcuserdata/
**/DerivedData/
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
*.xcworkspace/xcuserdata/
*.moved-aside
*.ipa

.android/
android/.gradle/
android/build/
example/android/.gradle/
example/android/build/
android/local.properties
example/android/local.properties
**/outputs/
**/captures/
*.keystore
*.jks

.idea/
*.iml
.vscode/
*.swp
.DS_Store
*.log